<h3>Id</h3>
<%=@student.id%>
<h3>Roll No<h3>
<i><%=@student.name%></i>

<h3>Last Name:</h3>
<i><%=@student.last_name%></i>

<h3>Address:</h3>
<i><%=@student.address%></i>

<h3>Book Borrowed:</h3>
<i></i>